<div class='top-wrapper'>
  <div class='top-inner-text'>
    <% if notice.present? %>
      <h1>RUNTEQ BOARD APP</h1>
    <% end %>
  </div>
  <div class='text-center'>
    <%= link_to "LINEでログイン", line_login_api_login_path %>
  </div>
</div>
