<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='text-center pt-5'>
      <h1 class="mt-3 pt-5" id='top-text'>歯ブラシLife</h1>
      <h1 id='top-text'>Make up environment!</h1>
    </div>
  </div>
  <div class='text-center pt-4 pb-2' id='catch-copy'>
    <h3>歯の環境、みんなで整えませんか？</h4>
  </div>
  <div class='text-center pt-4'>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <% unless logged_in?%>
      <%= link_to "LINEでログイン", user_sessions_login_path, id:'top-link' %>
    <% end %>
    <%= link_to "みんなの歯ブラシ", toothbrushes_path, class:"btn btn-dark" , id:'toothbrushes-index-button' %>
    <%#= link_to "使い方を見る", tutorial_path, id:'top-link' %>
  </div>
</div>
