<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='text-center pt-5'>
      <h1 class="mt-3 pt-5" id='top-text'>歯ブラシLife</h1>
      <h1 id='top-text'>Make up environment!</h1>
    </div>
  </div>
  <div class='text-center pt-4 pb-2' id='catch-copy'>
    <h3>歯の環境、みんなで整えませんか？</h4>
  </div>
  <div class='text-center pt-4'>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <% unless logged_in?%>
      <%= link_to "LINEでログイン", user_sessions_login_path, id:'top-link' %>
    <% end %>
    <%= link_to "みんなの歯ブラシ", toothbrushes_path, class:"btn btn-dark" , id:'toothbrushes-index-button' %>
    <%#= link_to "使い方を見る", tutorial_path, id:'top-link' %>
  </div>
</div>

<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container pt-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
            <img src="#" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
          <div class="position-absolute w-75" style="top: 25%; left: 25%;">
              <img src="#" class="img-fluid w-100 rounded" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h1 class="mb-4">歯ブラシLifeはお手持ちの歯ブラシ、デンタルグッズの情報を共有出来るアプリです。</h1>
        <p>他の方の使用されている歯ブラシの閲覧も出来るほか、LINEアカウントを友達登録することでお知らせを受け取れます。</p>
        <p class="mb-4">Pellentesque aliquam dolor eget urna ultricies tincidunt. Nam volutpat libero sit amet leo cursus, ac viverra eros tristique. Morbi quis quam mi. Cras vel gravida eros. Proin scelerisque quam nec elementum viverra. Suspendisse viverra hendrerit diam in tempus.</p>
        <a href="" class="btn btn-secondary rounded-pill px-5 py-3 text-white">More Details</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
