<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='text-center'>
      <h1>Haburashi Life  ~Make Up Environment !! ~</h1>
    </div>
    <% if notice.present? %>
      <p><%= notice %></p>
    <% end %>
    <% if User.present? %>
      <%= User.count %>
    <% end %>
  </div>
  <div class='text-center'>
    <%= link_to "LINEでログインする", user_sessions_login_path %>
  </div>
</div>
