<div class='top-wrapper'>
  <div class='top-inner-text'>
    <div class='text-center pt-3'>
      <h1 id='top-text'>歯ブラシLife</h1>
      <h1 id='top-text'>Make up environment!</h1>
    </div>
  </div>
  <div class='text-center pb-3' id='catch-copy'>
    <h3>歯の環境、みんなで整えませんか？</h4>
  </div>
  <div class='text-center' id='exp-text'>
    <p>お手持ちの歯ブラシ、デンタルグッズの情報を共有出来るアプリです。</p>
    <p>他の方の使用されている歯ブラシの閲覧も出来るほか、LINEアカウントを友達登録することでお知らせを受け取れます。</p>
  </div>
  <div class='text-center pt-4'>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>" style="display: none;"></div>
    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    <% unless logged_in?%>
      <%= link_to "LINEでログイン", user_sessions_login_path, id:'top-link' %>
    <% end %>
    <%= link_to "みんなの歯ブラシ", toothbrushes_path, class:"btn btn-dark", id:'toothbrushes-index-button' %>
    <%= link_to "使い方を見る", tutorial_path, id:'top-link' %>
  </div>
</div>
