<ul class="container">
  <div class="row align-items-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 text-right">
      <%= image_tag "top_guide.png", size: "300x300" %>
    </div>
    <div class="col-lg-4" id="allow-text">
      <p>歯ブラシ Lifeへようこそ！</p>
      <p>このページで、アプリの使い方をご案内いたします！</p>
      <p>早速使い方を見ていきましょう！</p>
    </div>
  </div>
</ul>