<ul class="container">
  <div class="row align-items-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 text-right">
      <%= image_tag "top_guide.png", size: "300x300" %>
    </div>
    <div class="col-lg-4" id="allow-text">
      <p>歯ブラシ Lifeへようこそ！</p>
      <p>このページで、アプリの使い方をご案内いたします！</p>
      <p>早速使い方を見ていきましょう！</p>
    </div>
  </div>
  <div class="text-center">
    <p>このアプリでは、LINEを使用した通知機能がご利用いただけます。</p>
    <p>通知を受け取るために、まずは友だち登録をしましょう！</p>
  </div>
  <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>" style="display: none;"></div>
  <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
</ul>