<ul class="container">
  <div class="row align-items-center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3 text-right">
      <%= image_tag "top_guide.png", size: "300x300" %>
    </div>
    <div class="col-lg-4" id="allow-text">
      <p>歯ブラシ Lifeへようこそ！</p>
      <p>このページで、アプリの使い方をご案内いたします！</p>
      <p>早速使い方を見ていきましょう！</p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <p>このアプリでは、LINEを使用した通知機能がご利用いただけます。</p>
      <p>通知を受け取るために、下のボタンをクリックして<br class="d-sm-none"/>このアプリを友だち追加しましょう！</p>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL" data-lineId="<%= ENV['LINE_OFFICIAL_ID'] %>"></div>
        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
    </div>
  </div>
</ul>