<div class="container">
  <h1 class="title text-center pt-3">お問い合わせ</h1>
  <div class="row">
    <div>
      <h2>下記のXアカウントにダイレクトメッセージ(DM)でお問い合わせください。</h2>
      <%= link_to "外部サイトへ移動します", "https://twitter.com/moon_shaft8", class:"top-link"%>
    </div>
  </div>
</div>