<header>
  <div class="container-fluid bg-primary">
    <div class="container">
      <nav class="navbar navbar-dark navbar-expand-lg py-0">
        <%= link_to root_path, class: "navbar-brand" do %>
          <h1 class="text-white fw-bold d-block">歯ブラシLife!</h1>
        <% end %>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
        </div>
        <div class="d-none d-xl-flex flex-shirink-0">
          <div class="navbar-nav ms-auto mx-xl-auto">
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>