<div class="loader" id="loading_animation">
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
  <div><span class="animation"></span></div>
</div>
<div class="container" id="loading_text">
  <div class="row">
    <div class="loader-text col text-center">
      <h1>検索します！<br class="d-none d-lg-block"/>しばらくお待ちください・・・</h1>
    </div>
  </div>
</div>