<div class='text-center moving-text pb-3'>
  <span>移</span>
  <span>動</span>
  <span>し</span>
  <span>ま</span>
  <span>す</span>
  <span>!</span>
  <span>し</span>
  <span>ば</span>
  <span>ら</span>
  <span>く</span>
  <span>お</span>
  <span>待</span>
  <span>ち</span>
  <span>く</span>
  <span>だ</span>
  <span>さ</span>
  <span>い</span>
  <span>・</span>
  <span>・</span>
  <span>・</span>
</div>