<div class="card mb-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag(result['mediumImageUrls'][0], size: '128x128') if result['mediumImageUrls'].present? %>
    </div>
    <div class="col-8">
      <div class="card-body">
        <p class="card-title" title="<%= result.name %>">
          <%= truncate(result.name, length: 40) %>
        </p>
          <%= link_to 'このグッズを追加！', toothbrush_dental_items_path(toothbrush_id: @toothbrush.id,
                                                        code: result['itemCode'],
                                                        name: result['itemName'],
                                                        genre_id: result['genreId'],
                                                        url: result['itemUrl'],
                                                        image: result['mediumImageUrls'][0]),
                                                        class: 'btn',
                                                        id: 'toothbrush-button',
                                                        data: { 'turbo_method': :post } %>
      </div>
    </div>
  </div>
</div>