<div class="card mb-1">
  <div class="row">
    <div class="col-5">
      <%= image_tag(result['mediumImageUrls'][0], size: '128x128') if result['mediumImageUrls'].present? %>
    </div>
    <div class="col-7">
      <div class="card-body text-center">
        <p class="card-title" title="<%= result.name %>">
          <%= link_to truncate(result.name, length: 40), result.url %>
        </p>
          <%= link_to 'この製品を追加！', toothbrush_dental_items_path(toothbrush_id: @toothbrush.id,
                                                        code: result['itemCode'],
                                                        name: result['itemName'],
                                                        genre_id: result['genreId'],
                                                        url: result['itemUrl'],
                                                        image: result['mediumImageUrls'][0]),
                                                        class: 'btn btn-secondary p-2',
                                                        data: { 'turbo_method': :post } %>
      </div>
    </div>
  </div>
</div>