<div class="col-sm-12 col-lg-4 mb-3">
  <div id="dental-item">
    <div class="card">
      <%= image_tag dental_item.item_image_urls, size: '128x128' if dental_item.item_image_urls.present? %>
      <div class="card-body" id="dental-item-card">
        <p class="card-title">
          <%= dental_item.item_name %>
        </p>
        <p class="list-group-item"><%= link_to '商品ページはこちら', dental_item.item_url %></p>
      </div>
    </div>
  </div>
</div>