<div class="card mb-1">
  <div class="row">
    <div class="col-5">
      <%= image_tag(result['mediumImageUrls'][0], size: '128x128') if result['mediumImageUrls'].present? %>
    </div>
    <div class="col-7">
      <div class="card-body">
        <p class="card-title" title="<%= result.name %>">
          <%= link_to truncate(result.name, length: 40) %>
        </p>
          <%= link_to 'この歯ブラシを使う！', toothbrushes_path(code: result['itemCode'],
                                                        name: result['itemName'],
                                                        url: result['itemUrl'],
                                                        image: result['mediumImageUrls'][0]),
                                                        class: 'btn btn-secondary',
                                                        data: { 'turbo_method': :post } %>
      </div>
    </div>
  </div>
</div>