<div class="col-12 col-sm-6 col-lg-3 mb-3">
  <div id="toothbrushes-index">
    <div class="card">
      <div class="text-center">
        <%= image_tag toothbrush.item_image_urls, size: '128x128' if toothbrush.item_image_urls.present? %>
      </div>
      <div class="card-body" id="index-card">
        <p class="card-title text-center">
          <%= toothbrush.item_name %>
        </p>
        <ul class="list-group">
          <li class="list-group-item text-center">
            <%= link_to '詳細', toothbrush_path(toothbrush), class:"btn btn-dark rounded-pill", id:"toothbrush-show-button" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>