<table class='table table-hover table-inverse'>
  <thead>
    <th>
      <th>タイトル</th>
      <th>メーカー</th>
      <th colspan="4"></th>
    </th>
  </thead>
  <tbody>
    <% results.each do |result| %>
      <div>
        <tr>
          <%= link_to result.name, result.url, rel: 'noopener noreferrer', class: 'no-underline hover:underline' %>
        </tr>
        <p><%= result.shop_name %></p>
        <div><%= link_to '商品を追加する', toothbrushes_path(code: result['itemCode'],
                                                    name: result['itemName'],
                                                    url: result['itemUrl'],
                                                    image: result['mediumImageUrls'][0]),
                                                    class: 'btn btn-secondary',
                                                    data: { 'turbo_method': :post } %>
        </div>
      </div>
      <%= image_tag (result['smallImageUrls'][0]) %>
    <% end %>
  </tbody>
</table>