<div class="col-sm-12 col-lg-4 mb-3">
  <div id="toothbrush-id-1">
    <div class="card" style="width: 18rem;">
      <%= image_tag toothbrush.item_image_urls, size: '128x128' %>
      <div class="card-body">
        <h4 class="card-title">
          <%= toothbrush.item_name %>
        </h4>
        <ul class="list-inline">
          <li class="list-inline-item">
          </li>
          <li class="list-inline-item">
            <%= l toothbrush.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= link_to '商品ページはこちら', toothbrush.item_url %></p>
      </div>
    </div>
  </div>
</div>