<div class="container-fluid pt-3" id="index-container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h4>歯ブラシ一覧</h4>
    </div>
  </div>
  
  <div class="row">
    <div class="col-8 col-md-7 col-lg-4 mx-auto">
      <%= render 'index_search', url: toothbrushes_path %>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <% if @toothbrushes.present? %>
        <%= render @toothbrushes %>
      <% else %>
        <p>見つかりません</p>      
      <% end %>
    </div>
  </div>
  <%= paginate @toothbrushes, pagination_class: "flex-wrap justify-content-center", theme: 'bootstrap-5'%>
</div>