<li class="list-group-item" id="search-results-guide">表示された検索候補をクリックして入力補完ができます</li>
<% @toothbrush.each do |toothbrush| %>
  <li class="list-group-item" 
            role="option" data-autocomplete-value="<%= toothbrush.id %>" >
    <%= toothbrush.item_name %>
  </li>
<% end %>