<li class="list-group-item" id="search-guide">表示された検索候補をクリックすると自動で歯ブラシ名が入力されます</li>
<% @toothbrush.each do |toothbrush| %>
  <li class="list-group-item" 
            role="option" data-autocomplete-value="<%= toothbrush.id %>" >
    <%= toothbrush.item_name %>
  </li>
<% end %>