<div class="container py-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h1 >検索結果</h1>
    </div>
  </div>
</div>

  <!-- 歯ブラシ一覧 -->
<div class="container">
  <div class="row g-4">
    <div class="row">
      <% if @results.present? %>
        <% @results.each do |result| %>
          <div class="col-sm-12 col-lg-4 mb-3">
            <%= render "toothbrushes/search_result", result: result %>
          </div>
        <% end %>
      <% else %>
        <p>ごめんなさい！このキーワードを持つ歯ブラシは、楽天市場には無いみたいです・・・</p>      
      <% end %>
    </div>
    <%= paginate @results, pagination_class: "flex-wrap justify-content-center", theme: 'bootstrap-5'%>
  </div>
</div>