<div class="search-box">
  <%= form_with url: toothbrushes_search_path, method: :get do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit "歯ブラシを検索", class: "form-control" %>
    </div>
  <% end %>
  <% if @toothbrushes.present? %>
    <%= render "toothbrushes/toothbrush", toothbrushes: @toothbrushes %>
  <% else %>
    検索結果は見つかりませんでした
  <% end %>
</div>