#toothbrushes-index-button {
  background-color: rgb(163, 243, 101);
  border-color: rgb(163, 243, 101);
  color: rgb(99, 99, 93);
}

#toothbrush-menu-button{
  background-color: rgb(88, 212, 43);
  border-color: rgb(88, 212, 43);
  color: rgb(0, 0, 0);
}

#toothbrush-menu-button:hover {
  background-color: rgb(106, 255, 51);
  border-color: rgb(106, 255, 51);
}