header {
  /*background-color: rgb(8, 175, 193);*/
  background-color: #69BD83;
}

#login-button {
  background-color: rgb(210, 105, 0);
  border-color: rgb(210, 105, 0);
  color: rgb(255, 255, 255);
}

#login-button:hover {
  background-color: rgb(170, 85, 0);
  border-color: rgb(170, 85, 0);
}

#toothbrush-menu-button{
  background-color: rgb(17, 115, 196);
  border-color: rgb(17, 115, 196);
  color: rgb(255, 255, 255);
}

#toothbrush-menu-button:hover {
  background-color: rgb(28, 153, 255);
  border-color: rgb(28, 153, 255);
}

#user-menu-button{
  background-color: rgb(226, 106, 0);
  border-color: rgb(226, 106, 0);
  color: rgb(0, 0, 0);
}

#user-menu-button:hover {
  background-color: rgb(255, 177, 22);
  border-color: rgb(255, 177, 22);
  color: rgb(0, 0, 0);
}