header {
  background-color: rgb(255, 255, 255);
}

#login-button {
  color: rgb(10, 191, 4);
  font-weight: bold;
}

#login-button:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(10, 191, 4);
  font-weight: bold;
}

.toothbrush-menu-button{
  background-color: rgb(10, 191, 4);
  border-color: rgb(10, 191, 4);
  color: rgb(255, 255, 255);
}

.toothbrush-menu-button:hover {
  background-color: rgb(9, 206, 2);
  border-color: rgb(9, 206, 2);
}

.user-menu-button{
  border-color: rgb(10, 191, 4);
  border-width: thick;
  color: rgb(0, 0, 0);
}

.user-menu-button:hover {
  background-color: rgb(10, 191, 4);
  color: rgb(0, 0, 0);
}