#search-guide {
  color: rgb(64, 161, 0);
  background-color: rgb(231, 253, 217);
}

#card-font {
  padding: 0;
}

#toothbrush-button {
  background-color: rgba(6, 119, 2, 0.7);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

#toothbrush-button:hover {
  background-color: rgb(6, 119, 2);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
