#edit-toothbrush-button {
  background-color: rgb(146, 90, 248);
  border-color: rgb(146, 90, 248);
  color: rgb(255, 255, 255);
}

#edit-toothbrush-button:hover {
  background-color: rgb(99, 15, 255);
  border-color: rgb(99, 15, 255);
  color: rgb(255, 255, 255);
}

#dental-item-button {
  background-color: rgb(143, 255, 177);
  border-color: rgb(143, 255, 177);
  color: rgb(0, 0, 0);
}

#dental-item-button:hover {
  background-color: rgb(31, 255, 98);
  border-color: rgb(31, 255, 98);
  color: rgb(0, 0, 0);
}