#recycling-border {
  border-color: rgb(20, 153, 0);
}

#cleaning-border {
  border-color: rgb(212, 148, 0);
}

#using-border {
  border-color: rgb(0, 85, 212);
}

#end_used-border{
  border-color: rgb(147, 147, 147);
}