.top-wrapper {
  background-image: image-url("top.jpg");
  background-size: cover;
  height: calc(100vh - 20px);
  position: relative;
  background-position: center;
}

#top-text {
  font-family: apple-system;
  color: rgb(255, 255, 255);
  font-size: 500%;
}

#catch-copy {
  color: rgb(0, 0, 0);
}

#exp-text {
  color: rgb(68, 67, 67);
}

#toothbrushes-index-button {
  background-color: rgb(0, 132, 141);
  border-color: rgb(0, 132, 141);
  color: rgb(255, 255, 255);
}

#toothbrushes-index-button:hover {
  background-color: rgb(0, 168, 194);
  border-color: rgb(0, 168, 194);
  color: rgb(37, 37, 37);
}

.all-body {
  background-color: #F4F9FA;

}