.top-wrapper {
  background-image: url("top.jpg");
  background-size: cover;
  height: calc(85vh - 20px);
  position: relative;
  background-position: center;
}

.top-wrapper {
  animation: fadeIn 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
  
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top-contents {
  background-color: rgb(255, 255, 255);
}

#top-text {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-size: 470%;
  text-shadow: 0 0 20px rgba(0,0,0,.15);
}

@media (max-width: 520px) {
  #top-text {
  font-size: 370%;
  }
}

.top-link {
  color: rgb(19, 77, 234);
}

.top-link:hover {
  color: rgba(66, 112, 237, 1);
}

#catch-copy {
  color: rgb(0, 0, 0);
}

#exp-text {
  color: rgb(68, 67, 67);
}

.app-body {
  background-color: rgb(244, 249, 250);
  // この下はフッターを画面下に固定するために追加したが、これにより今後の追加要素に悪影響が出ないか注意が必要
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.img-fluid {
  background-color: rgb(252, 244, 239);

  -webkit-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.1);
  box-shadow: -1px 3px 18px 0px rgba(0,0,0,0.1);
}

.tutorial-text{
  font-family: arial, sans-serif;
  color: rgb(71, 85, 105);
}

.environment-wrapper {
  background-image: url("environment_image.jpg");
  background-size: cover;
  height: calc(85vh - 20px);
  background-position: center;
  filter: grayscale(100%);
}
