#users-table-title {
  background-color: rgb(89, 186, 102);
  color: rgb(0, 0, 0);
}

#state-end_used {
  color: rgb(147, 147, 147);
}

#state-using {
  color: rgb(0, 85, 212);
}

#state-cleaning {
  color: rgb(212, 148, 0);
  font-size: 108%;
}

#state-recycling {
  color: rgb(20, 153, 0);
  font-size: 105%;
}
